* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-color: blue;
  height: 100vh;
  background-image: url("https://i.ibb.co/HNvHSyV/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  display: flex;
  font-size: 20px;
  color: white;
  align-items: center;
}

.menu span {
  margin-right: 20px;
}

.contact button {
  text-decoration: none;
  outline: none;
  border: 0;
  background-color: white;
  padding: 4px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  font-weight: bold;
}

.contact button:hover {
  background-color: orange;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
  flex-grow: 1;
}

.arrow {
  margin-top: 50px;
  margin-bottom: 250px;
}
