* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-color: blue;
  height: 100vh;
  background-image: url("https://i.ibb.co/HNvHSyV/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
}

.header {
  height: 40px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  display: flex;
  font-size: 20px;
  color: white;
}

.menu span {
  margin-right: 20px;
}
